body {
  margin: 0;
  background-image: url("farmersMarket.jpg");
  background-size: cover;
  background-repeat: initial;
  color: rgb(38, 38, 38);
  font-family: 'Neucha', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
